/* --- Colors --- */
/*
main color: #3dafaf
light color: #58c7c6
Brown line:#70400a
light grey: #f7f5f4
*/

body {
  font-size: 16px;
  font-family: 'Droid Sans', sans-serif;
font-family: 'Mada', sans-serif;
  background-image: url("woodbg2.png")
}
.container {
  max-width: 900px;
  margin: auto;
}
h1 {
  color: #332200;
}
img {
    max-width: 100%;
}
.gallery-item {
    width: 20%;
    display: inline-block;
    margin: 3rem;
    border-bottom: 3px dotted #70400a;
    background-color: #f7f5f4;
}
