
body {
  font-size: 25px;
  font-family: 'Inconsolata', monospace;
  font-family: 'Arimo', sans-serif;
  background-image: url("https://media.giphy.com/media/3oz8xRsCP14cAnCtIA/giphy.gif");
}


h1 {
    font-size: 40px;
    text-shadow: 4px 2px 7px rgba(150, 150, 150, 1);
    font-family: 'Permanent Marker', cursive;
}

h2 {
    font-size: 28px;
    color:green;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

h3 {
    font-size: 15px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

h4 {
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
}

h5 {
    font-size: 18px;
     font-weight: bold
    font-family: 'Arimo', sans-serif;
}

header {
   background-image:url('chicken.gif');
   width:100%;
   margin-left:auto;
   margin-right:auto;
   background-position:center;
   background-repeat:repeat;
  }​

.content {
    margin: 30px;
}

  /*--navbar--*/

p {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width: 300px; /* whatever width you want */
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*--header--*/

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #877f4e;
}



.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.active {
    background-color: #683906;
}


.gallery-item {
    animation: bounceIn 5s

}


/*--header picture--*/

.parent {
  color: black;
  padding: 40px;
  opacity: .75;
  position: relative;
  margin-top: 20px;
}

/*--bounce--*/
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.8);
  }
}


img {
position: absolute;
 top: 50%;
 left: 50%;
 width: 500px;
 height: 500px;
 margin-top: -250px; /* Half the height */
 margin-left: -250px; /* Half the width */
}


.popUpDiv {
position:absolute;
width:300px;
height:50px;
border:5px solid white;
z-index: 9002;
}

.speech-bubble {
    background-color: #f8f8f8;
    border: 3px solid #c8c8c8;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    padding: 30px;
    position: relative;
}

.speech-bubble .arrow {
    border-style: solid;
    position: absolute;
}

.bottom {
    border-color: #c8c8c8 transparent transparent transparent;
    border-width: 8px 8px 0px 8px;
    bottom: -8px;
}


.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
}

<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<style type="text/css">
.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

.button {
  background-color: #e7e7e7; color: black;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: left;
  } /* Gray */


.btn-group .button:hover {
    background-color: #3e8e41;
}

#container {
    max-width: 600px;
    margin:auto
  }
