body {
    padding: 0;
    margin: 0;
}

h1 {
   position: absolute;
   left: 100px;
   top: 150px;
   font-size: 26px;
   font-family: 'Raleway', sans-serif;
   color: white;
}

h2 {
    font-size: 20px;
    color:green;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

#container {
    max-width: 400px;
    margin:auto
  }

.center {
      text-align: center;
  }
